[user]
	name = Tri Nguyen
	email = tri@tridnguyen.com

[credential]
	helper = osxkeychain

[alias]
	# View the SHA, description, and history graph of the latest 20 commits
	l = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an> %Cgreen(%cr)%Creset' --abbrev-commit
	ll = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an> %Cgreen(%cd)%Creset%+b' --date=local --abbrev-commit
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	# View the current working tree status using the short format
	s = status -s
	# show tags and any tag annotation (tito adds tag annotations for example)
	tags = tag -n1 -l
	# add and commit
	a = add -v
	ap = add -pv
	aa = add -Av
	au = add -uv
	c = commit -m
	ca = commit --amend
	cah = commit --amend -C HEAD
	ac = !git add . -v && git commit -m
	co = checkout
	cob = checkout -b
	b = branch
	bd = branch -d
	cl = clone
	d = diff
	dc = diff --cached
	g = grep --break --heading --ignore-case
	rc = rebase --continue
	size-report = !bash "$HOME/.config/git/size-report.sh"
	delete-history = !bash "$HOME/.config/git/delete-history.sh"
	create-deploy-branch = !bash "$HOME/.config/git/create-deploy-branch.sh"
	list = !bash "$HOME/.config/git/list.sh"

[mergetool]
	keepBackup = true

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = warn

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
	quotepath = false
	editor = vim
	# editor = subl -n -w

[branch "master"]
	# Use `origin` as the default remote on the `master` branch in all cases
	remote = origin
	merge = refs/heads/master

[remote "origin"]
	push = HEAD

[push]
	default = simple

[include]
	path = ~/.gitconfig_local

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[grep]
	extendRegexp = true
	lineNumber = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[github]
	user = tnguyen14
[ghi]
	token = !security find-internet-password -a tnguyen14 -s github.com -l 'ghi token' -w
[help]
	autocorrect = 10
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
